<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8"/>
	<title>NIIT Manage System</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
        <shiro:hasPermission name="/user">
			$(function () {
				$('#myTab2 li:eq(0) a').tab('show');
			});
        </shiro:hasPermission>
        $(function () {
            $('#myTab1 li:eq(0) a').tab('show');
        });
	</script>
</head>
<body>
	<div class="container" align="center">
		<div class="starter-template">
			<h1 align="center">NIIT System</h1><br/><br/>
		</div>
		<div class="row" >
			<div class="col-sm-12">
				<ul id="myTab1" class="nav nav-tabs">
					<shiro:hasPermission name="/user">
						<li>
							<a href="#Employer" data-toggle="tab">Employer</a>
						</li>
					</shiro:hasPermission>
					<li class="dropdown">
						<a href="#" id="MyTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Students
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
							<li><a href="#StudentsList" data-toggle="tab">Students List</a></li>
							<li><a data-toggle="modal" data-target="#NewStudent">New Student</a></li>
							<li><a href="#SearchStudents" data-toggle="tab">Search Students</a></li>
						</ul>
					</li>
					<li>
						<a href="#Task" data-toggle="tab">Task</a>
					</li>
				</ul>
			</div>
		</div>


		<!-- tab content -->
		<div class="tab-content">
			<br/>
			<shiro:hasPermission name="/user">
				<div class="tab-pane fade in active" id="Employer">
					<div class="row">
					<div class="col-sm-2" id="myScrollspy">
						<ul id="myTab2" class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="125">
							<li><a href="#UserMgmt" data-toggle="pill">User</a></li>
							<!--<li><a href="#RoleMgmt" data-toggle="pill">Role</a></li>-->
							<!--<li><a href="#ResourceMgmt" data-toggle="pill">Resource</a></li>-->
							<li><a href="#Report" data-toggle="pill">Report</a></li>
						</ul>
					</div>
					<div class="tab-content col-sm-10">
						<div class="tab-pane fade in active" id="UserMgmt">
							<div class="col-sm-10"></div>
							<div class="col-sm-2">
								<button class="btn btn-xs btn-success"  data-toggle="modal" data-target="#NewUser">
									New User
								</button>
							</div><br/><br/>
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>User ID</th>
										<th>User Name</th>
										<th>Create Time</th>
										<th>Update Time</th>
										<th>Operation</th>
									</tr>
								</thead>
								<tbody id="userbody">
									<tr>
										<td>Tanmay</td>
										<td>Bangalore</td>
										<td>Tanmay</td>
										<td>Bangalore</td>
										<td>
											<button class="btn btn-xs btn-info" data-toggle="modal" data-target="#EditUser">
												Edit
											</button>
											<button class="btn btn-xs btn-danger" onclick="">
												Delete
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<!--<div class="tab-pane fade in active" id="RoleMgmt">-->
							<!--<div class="col-sm-10"></div>-->
							<!--<div class="col-sm-2">-->
								<!--<button class="btn btn-xs btn-success"  data-toggle="modal" data-target="#NewRole">-->
									<!--New Role-->
								<!--</button>-->
							<!--</div><br/><br/>-->
							<!--<table class="table table-striped table-bordered table-hover">-->
								<!--<thead>-->
									<!--<tr>-->
										<!--<th>ID</th>-->
										<!--<th>Name</th>-->
										<!--<th>Create Time</th>-->
										<!--<th>Update Time</th>-->
										<!--<th>Operation</th>-->
									<!--</tr>-->
								<!--</thead>-->
								<!--<tbody>-->
									<!--<tr>-->
										<!--<td>Tanmay</td>-->
										<!--<td>Bangalore</td>-->
										<!--<td>560001</td>-->
										<!--<td>Tanmay</td>-->
										<!--<td>-->
											<!--<button class="btn btn-xs btn-info"  data-toggle="modal" data-target="#EditRole">-->
												<!--Edit-->
											<!--</button>-->
											<!--<button class="btn btn-xs btn-danger" onclick="">-->
												<!--Delete-->
											<!--</button>-->
										<!--</td>-->
									<!--</tr>-->
								<!--</tbody>-->
							<!--</table>-->
						<!--</div>-->

						<!--<div class="tab-pane fade in active" id="ResourceMgmt">-->
							<!--<div class="col-sm-10"></div>-->
							<!--<div class="col-sm-2">-->
								<!--<button class="btn btn-xs btn-success"  data-toggle="modal" data-target="#NewPermission">-->
									<!--New Permission-->
								<!--</button>-->
							<!--</div><br/><br/>-->
							<!--<table class="table table-striped table-bordered table-hover">-->
								<!--<thead>-->
									<!--<tr>-->
										<!--<th>ID</th>-->
										<!--<th>Name</th>-->
										<!--<th>Url</th>-->
										<!--<th>Type</th>-->
										<!--<th>Parent ID</th>-->
										<!--<th>Create Time</th>-->
										<!--<th>Update Time</th>-->
										<!--<th>Operation</th>-->
									<!--</tr>-->
								<!--</thead>-->
								<!--<tbody>-->
									<!--<tr>-->
										<!--<td>Tanmay</td>-->
										<!--<td>Bangalore</td>-->
										<!--<td>560001</td>-->
										<!--<td>Tanmay</td>-->
										<!--<td>Bangalore</td>-->
										<!--<td>560001</td>-->
										<!--<td>More</td>-->
										<!--<td>-->
											<!--<button class="btn btn-xs btn-info"  data-toggle="modal" data-target="#EditPermission">-->
												<!--Edit-->
											<!--</button>-->
											<!--<button class="btn btn-xs btn-danger" onclick="">-->
												<!--Delete-->
											<!--</button>-->
										<!--</td>-->
									<!--</tr>-->
								<!--</tbody>-->
							<!--</table>-->
						<!--</div>-->

						<div class="tab-pane fade in active" id="Report">
							<div class="col-sm-10">
								<form class="form-horizontal" role="form">
									<div class="form-group">
										<label class="col-sm-2 control-label">Date: </label>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="redate" style="width: 90%"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Classification: </label>
										<div class="col-sm-6">
											<select class="form-control" style="width: 85%">
												<option>A: Intersted</option>
												<option>B: Hesitate</option>
												<option>C: Rejected</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Source: </label>
										<div class="col-sm-4">
											<select class="form-control" style="width: 92%">
												<option>Web</option>
												<option>bala</option>
												<option>bala</option>
											</select>
										</div>
										<div class="col-sm-4">
											<select class="form-control" style="width: 92%">
												<option>Job Market</option>
												<option>Bala</option>
												<option>Bala</option>
											</select>
										</div>
									</div>
									<div class="col-sm-10">
										<label class="col-sm-2 control-label">Count: </label>
										<label class="col-sm-1 control-label" id="count">5</label>
									</div>
									<div class="col-sm-2">
										<button type="button" class="btn btn-primary" id="research">
											Search
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				</div>
			</shiro:hasPermission>

			<div class="tab-pane fade in active" id="StudentsList">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Date</th>
							<th>Name</th>
							<th>Gender</th>
							<th>Age</th>
							<th>Phone No</th>
							<th>Email</th>
							<th>College Name</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Tanmay</td>
							<td>Bangalore</td>
							<td>560001</td>
							<td>Tanmay</td>
							<td>Bangalore</td>
							<td>560001</td>
							<td>Tanmay</td>
							<td>
								<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Details">
									More
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="tab-pane fade in active" id="SearchStudents">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-1 control-label">Date: </label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="ssdate" style="width: 90%"/>
						</div>
						<label class="col-sm-1 control-label">Name: </label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="ssname" style="width: 90%"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 control-label">Classification: </label>
						<div class="col-sm-4">
							<select class="form-control" style="width: 85%">
								<option>A: Intersted</option>
								<option>B: Hesitate</option>
								<option>C: Rejected</option>
							</select>
						</div>
						<label class="col-sm-1 control-label">Source: </label>
						<div class="col-sm-2">
							<select class="form-control" style="width: 92%">
								<option>Web</option>
								<option>bala</option>
								<option>bala</option>
							</select>
						</div>
						<div class="col-sm-2">
							<select class="form-control" style="width: 92%">
								<option>Job Market</option>
								<option>Bala</option>
								<option>Bala</option>
							</select>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-primary" id="sssearch">
								Search
							</button>
						</div>
					</div>
				</form>
				<div class="col-sm-12">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Date</th>
								<th>Name</th>
								<th>Gender</th>
								<th>Age</th>
								<th>Phone No</th>
								<th>Email</th>
								<th>College Name</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Tanmay</td>
								<td>Bangalore</td>
								<td>560001</td>
								<td>Tanmay</td>
								<td>Bangalore</td>
								<td>560001</td>
								<td>Tanmay</td>
								<td>
									<button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#Details">
										More
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="tab-pane fade in active" id="Task">
				<div class="form-horizontal" role="form">
					<label class="col-sm-1 control-label" >Url: </label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="urlinput" style="width: 90%"/>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary" id="urladdbtn" onclick="addAdvertise()">
							Add
						</button>
					</div>
				</div>
				<br/>
				<br/>
				<div class="col-sm-12">今天已提交数量：<span id="adcount"></span></div>
				<div class="col-sm-12">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="col-sm-2">User ID</th>
								<th class="col-sm-6">Submitted Url</th>
								<th class="col-sm-2">Create Time</th>
								<th class="col-sm-2">Delete</th>
							</tr>
						</thead>
						<tbody id="adbody">
							<tr>
								<td>www.baidu.com</td>
								<td>
									<button class="btn btn-danger btn-xs" onclick="">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> <!-- /.tab content -->

		<!-- modal -->
		<div class="modal fade" id="NewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">
							New User:
						</h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">User ID: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="loginId" name="loginId" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">User Name: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="username" name="username" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Password: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="upassword" name="password" style="width: 90%"/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="submitu" onclick="adduser()">
							Submit
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!-- /.modal -->

		<div class="modal fade" id="NewRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">
							New Role:
						</h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">ID: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="rid" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Name: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="rname" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Create Time: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="rcreateTime" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Update Time </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="rupdateTime" style="width: 90%"/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="submitr">
							Submit
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!-- /.modal -->

		<div class="modal fade" id="NewPermission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">
							New Permission:
						</h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">ID: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="pid" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Name: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="pname" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Url: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="purl" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Type: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="ptype" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Parent ID: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="parentId" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Create Time: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="pcreateTime" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Update Time </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="pupdateTime" style="width: 90%"/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="submitp">
							Submit
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!-- /.modal -->

		<div class="modal fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">
							Edit User:
						</h3>
					</div>
					<div class="modal-body">
						<form id="euform" class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">User ID: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="loginId" id="euid" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">User Name: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="username" id="eusername" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Password: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="password" id="eupassword" style="width: 90%" placeholder="Fill me to reset password"/>
								</div>
							</div>

							<!--<div class="form-group">-->
								<!--<label class="col-sm-2 control-label">Create Time: </label>-->
								<!--<div class="col-sm-10">-->
									<!--<input type="text" class="form-control" name="createTime" id="eucreateTime" style="width: 90%"/>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group">-->
								<!--<label class="col-sm-2 control-label">Update Time </label>-->
								<!--<div class="col-sm-10">-->
									<!--<input type="text" class="form-control" name="updateTime" id="euupdateTime" style="width: 90%"/>-->
								<!--</div>-->
							<!--</div>-->
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="submiteu" data-dismiss="modal">
							Submit
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!-- /.modal -->

		<div class="modal fade" id="EditRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">
							Edit Role:
						</h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">ID: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="erid" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Name: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="ername" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Create Time: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="ercreateTime" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Update Time </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="erupdateTime" style="width: 90%"/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="submiter">
							Submit
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!-- /.modal -->

		<div class="modal fade" id="EditPermission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">
							Edit Permission:
						</h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">ID: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="epid" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Name: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="eppassword" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Url: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="epurl" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Type: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="eptype" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Parent ID: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="epparentId" style="width: 90%"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Create Time: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="epcreateTime" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Update Time </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="epupdateTime" style="width: 90%"/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="submitep">
							Submit
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!-- /.modal -->

		<div class="modal fade" id="NewStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">
							New Student:
						</h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">Date: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nsdate" style="width: 90%"/>
								</div>

								<label class="col-sm-2 control-label">Name: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nsname" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Gender: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nsgender" style="width: 90%"/>
								</div>
								<label class="col-sm-2 control-label">Age: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nsage" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Phone No: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nsphonenum" style="width: 90%"/>
								</div>								
								<label class="col-sm-2 control-label">Email: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nsemail" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">College Name: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nscollegename" style="width: 90%"/>
								</div>
								<label class="col-sm-2 control-label">Major: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="nsmajor" style="width: 90%"/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="submitns">
							Submit
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!-- /.modal -->

		<div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="myModalLabel">Detailed Information: </h3>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">Date: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtdate" style="width: 90%"/>
								</div>

								<label class="col-sm-2 control-label">Name: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtname" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Gender: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtgender" style="width: 90%"/>
								</div>
								<label class="col-sm-2 control-label">Age: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtage" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Phone No: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtphonenum" style="width: 90%"/>
								</div>								
								<label class="col-sm-2 control-label">Email: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtemail" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">College Name: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtcollegename" style="width: 90%"/>
								</div>
								<label class="col-sm-2 control-label">Major: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtmajor" style="width: 90%"/>
								</div>
							</div>
							<hr/>
							<div class="form-group">
								<label class="col-sm-2 control-label">Walk-in Date: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtwalkindate" style="width: 90%"/>
								</div>
								<label class="col-sm-2 control-label">Marks: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtmarks" style="width: 90%"/>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Interview Situation: </label>
								<div class="col-sm-10">
									<textarea class="form-control" id="dtinsit" style="width: 96%" rows="4"></textarea>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Source: </label>
								<div class="col-sm-5">
									<select class="form-control" style="width: 92%">
										<option>Web</option>
										<option>bala</option>
										<option>bala</option>
									</select>
								</div>
								<div class="col-sm-5">
									<select class="form-control" style="width: 92%">
										<option>Job Market</option>
										<option>Bala</option>
										<option>Bala</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Intention: </label>
								<div class="col-sm-4">
									<input type="text" class="form-control" id="dtintention" style="width: 90%"/>
								</div>
								<label class="col-sm-2 control-label">Classification: </label>
								<div class="col-sm-4">
									<select class="form-control" style="width: 85%">
										<option>A: Intersted</option>
										<option>B: Hesitate</option>
										<option>C: Rejected</option>
									</select>
								</div>
							</div>
							<hr/>

							<div class="form-group">
								<label class="col-sm-2 control-label">Follow Up: </label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="dtfollowup" style="width: 50%"/>
								</div><br/><br/>
								<div class="col-sm-2" align="center">
									<button class="btn btn-danger btn-xs" onclick="">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</div>
								<div class="col-sm-10">
									<textarea class="form-control" id="dtfp1" style="width: 96%" rows="4"></textarea>
								</div>
							</div>
							<hr/>

							<div class="form-group">
								<label class="col-sm-2 control-label">Follow Up: </label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="status" style="width: 50%"/>
								</div>
								<br/><br/>
								<div class="col-sm-2" align="center">
									<button class="btn btn-danger btn-xs" onclick="">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</div>
								<div class="col-sm-10">
									<textarea class="form-control" id="dtfp2" style="width: 96%" rows="4"></textarea>
								</div>
							</div>

							<div class="col-sm-11"></div>
							<div class="col-sm-1">
								<button class="btn btn-primary btn-xs">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
							<br/>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="submitdt">
							Submit
						</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div> <!-- /.modal -->
		<!-- /modal -->


	</div> <!-- /.container -->
<script src="/js/manage.js"></script>
</body>
</html>