<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
	<title>NIIT Manage System</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
	<script src="/js/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.js"></script>
	<!--时间插件-->
	<script type="text/javascript" src="js/laydate.js"></script>
	<script>
        <shiro:hasPermission name="/user">
            $(function () {
                $('#myTab2 li:eq(0) a').tab('show');
            });
        </shiro:hasPermission>
        $(function () {
            $('#myTab1 li:eq(0) a').tab('show');
        });
	</script>
	<style>
		.qwer{
			overflow-y: auto;
			overflow-x: hidden;
		}
	</style>
</head>
<body style="background: url('/img/demo-1-bg.jpg')">
<div class="container" align="center" >
	<h1 align="center" style="font-family: 'Segoe UI Semilight';color: #FFFFFF;font-size:50px;">NIIT System</h1>
	<h3>
		<span style="color: orangered">Welcomes</span>
		<span style="color: green" th:text="${session.userSessionId}"></span>
	</h3>
	<br/>
	<form action="/logout">
		<button class="btn btn-warning" type="submit">logout/登出</button>
	</form>
	<br/>
	<div style="background-color: #FFFFFF;padding: 15px;border-radius: 20px">
		<div class="row" >
			<div class="col-sm-12">
				<ul id="myTab1" class="nav nav-tabs">
					<shiro:hasPermission name="/user">
						<li>
							<a href="#Employer" data-toggle="tab">Employer/管理</a>
						</li>
					</shiro:hasPermission>
					<li class="dropdown">
						<a href="#" id="MyTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Students/学生
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
							<li><a href="#StudentsList" data-toggle="tab">Students List/学生列表</a></li>
							<li><a data-toggle="modal" data-target="#NewStudent">New Student/添加学生</a></li>
							<li><a href="#SearchStudents" data-toggle="tab">Search Students/搜索学生</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" id="MyTabDrop2" class="dropdown-toggle" data-toggle="dropdown">Task/链接
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
							<li>
							<li><a href="#Task" data-toggle="tab">New Url/新增链接(今日)</a></li>
							<li><a href="#History" data-toggle="tab">History/链接历史搜索</a></li>
							</li>
						</ul>
					</li>
					<shiro:hasPermission name="/user">
						<li>
							<a href="#Table" data-toggle="tab">Table/反馈表管理</a>
						</li>
					</shiro:hasPermission>
				</ul>
			</div>
		</div>
		<!-- tab content -->
		<div class="tab-content">
			<br/>
			<shiro:hasPermission name="/user">
				<div class="tab-pane fade in active" id="Employer">
					<div class="row">
						<div class="col-sm-2" id="myScrollspy">
							<ul id="myTab2" class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="125">
								<li><a href="#UserMgmt" data-toggle="pill">User/用户管理</a></li>
								<!--<li><a href="#RoleMgmt" data-toggle="pill">Role</a></li>-->
								<!--<li><a href="#ResourceMgmt" data-toggle="pill">Resource</a></li>-->
								<li><a href="#Report" data-toggle="pill">Report/工作情况</a></li>
							</ul>
						</div>
						<div class="tab-content col-sm-10">
							<div class="tab-pane fade in active" id="UserMgmt">
								<div class="col-sm-10"></div>
								<div class="col-sm-2">
									<button class="btn btn-xs btn-success"  data-toggle="modal" data-target="#NewUser">
										New User/新建用户
									</button>
								</div><br/><br/>
								<table class="table table-striped table-bordered table-hover">
									<thead>
									<tr>
										<th>User ID/用户ID</th>
										<!--<th>User Name</th>-->
										<th>Role/角色</th>     <!--Add by Runner-->
										<th>Create Time/创建时间</th>
										<th>Update Time/更新时间</th>
										<th>Operation/操作</th>
									</tr>
									</thead>
									<tbody id="userbody">
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade in active" id="Report">
								<div class="col-sm-10">
									<form class="form-horizontal" role="form">
										<div class="form-group">
											<label class="col-sm-2 control-label">UserId/用户ID: </label>
											<div class="col-sm-2">
												<input type="text" class="form-control" id="userSearchUserId" style="width: 90%"/>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">Date/日期范围: </label>
											<div class="col-sm-3">
												<!--<input type="text" class="form-control" id="userSearchStartDate" style="width: 90%" placeholder="YYYY-MM-DD"/>-->
												<!--Add by Runner-->
												<input placeholder="Date Time" class="laydate-icon timeUstyle stateUTime" id="userSearchStartDate"  style="width: 90%" onclick="laydate({istime: true,format:'YYYY-MM-DD hh:mm'})"/>
											</div>
											<div class="col-sm-1 control-label">
												<span style="font-weight: bold;">To</span>
											</div>
											<div class="col-sm-3">
												<!--<input type="text" class="form-control" id="userSearchEndDate" style="width: 90%" placeholder="YYYY-MM-DD"/>-->
												<!--Add by Runner-->
												<input placeholder="Date Time" class="laydate-icon timeUstyle stateUTime" id="userSearchEndDate"  style="width: 90%" onclick="laydate({istime: true,format:'YYYY-MM-DD hh:mm'})"/>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Classification/参与可能性: </label>
											<div class="col-sm-4">
												<select id="rcselect" class="form-control" style="width: 92%">
													<option value=""></option>
													<option value="A">A: Yes/已入学</option>
													<option value="B">B: Interested/有兴趣</option>
													<option value="C">C: Hesitate/犹豫</option>
													<option value="D">D: Rejected/拒绝</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">StuSource/学生来源: </label>
											<div class="col-sm-4">
												<select id="userSSselect" class="form-control" style="width: 92%">
												</select>
											</div>
										</div>
										<hr/>
										<div class="col-sm-10">
											<label class="col-sm-3 control-label">Count/完成数量: </label>
											<label class="col-sm-1 control-label" id="count"></label>
										</div>
										<div class="col-sm-2">
											<button type="button" class="btn btn-primary" id="research">
												Search/搜索
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</shiro:hasPermission>

			<div class="tab-pane fade in active qwer" id="StudentsList">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					<tr>
						<th>User ID/用户ID</th>     <!--Add by Runner-->
						<th>Date/日期</th>
						<th>Name/姓名</th>
						<th>Gender/性别</th>
						<th>Age/年龄</th>
						<th>Phone/电话</th>
						<th>Email/邮箱</th>
						<th>College/大学</th>
						<th>Details/详情</th>
					</tr>
					</thead>
					<tbody id="stuListBody">
					</tbody>
				</table>
			</div>

			<div class="tab-pane fade in active qwer" id="SearchStudents">
				<div class="form-horizontal" role="form" style="padding-left: 3%;">
					<div id="tableinsearch" style="display: none;">
						<label class="col-sm-12 control-label" style="text-align: center; font-size: large">宣讲反馈表</label>
						<div id="searchtablebody"></div>
					</div>
					<hr/>
					<div class="form-group">
						<label class="col-sm-1 control-label">StartDate/开始日期: </label>
						<div class="col-sm-3">
							<!--<input type="text" class="form-control" id="sssdate" style="width: 90%" placeholder="YYYY-MM-DD"/>-->
							<!--Add by Runner-->
							<input placeholder="Date Time" class="laydate-icon timeUstyle stateUTime" id="sssdate"  style="width: 90%" onclick="laydate({istime: true,format:'YYYY-MM-DD hh:mm'})"/>
						</div>
						<label class="col-sm-1 control-label">EndDate/结束日期: </label>
						<div class="col-sm-3">
							<!--<input type="text" class="form-control" id="ssedate" style="width: 90%" placeholder="YYYY-MM-DD"/>-->
							<!--Add by Runner-->
							<input placeholder="Date Time" class="laydate-icon timeUstyle stateUTime" id="ssedate"  style="width: 90%" onclick="laydate({istime: true,format:'YYYY-MM-DD hh:mm'})"/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 control-label">UserID/用户ID: </label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="ssuserId" style="width: 90%"/>
						</div>
						<label class="col-sm-1 control-label">Name/姓名: </label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="ssname" style="width: 90%"/>
						</div>
						<div class="col-sm-4">
							<button id="searchShowTable" class="btn btn-xs btn-info">ShowTable/展开反馈表</button>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-1 control-label">Classification/参与可能性: </label>
						<div class="col-sm-3">
							<select id="selectclass" class="form-control" style="width: 85%">
								<option value=""></option>
								<option value="A">A: Yes/已入学</option>
								<option value="B">B: Interested/有兴趣</option>
								<option value="C">C: Hesitate/犹豫</option>
								<option value="D">D: Rejected/拒绝</option>
							</select>
						</div>
						<label class="col-sm-1 control-label">StuSource/学生来源: </label>
						<div class="col-sm-3">
							<select id="SSSearchSelect" class="form-control" style="width: 92%">
							</select>
						</div>
						<div class="col-sm-4">
							<form action="/studentExcel" method="post" style="display:inline;margin-right:15px;">
								<input type="hidden" id="stuExcelUserId" name="userId"/>
								<input type="hidden" id="stuExcelName" name="name" />
								<input type="hidden" id="stuExcelStartDate" name="startDate" />
								<input type="hidden" id="stuExcelEndDate" name="endDate" />
								<input type="hidden" id="stuExcelClassification" name="classification" />
								<input type="hidden" id="stuExcelSource" name="source" />
								<input type="hidden" id="stuExcelAnswer1" name="answer1"/>
								<input type="hidden" id="stuExcelAnswer2" name="answer2"/>
								<input type="hidden" id="stuExcelAnswer3" name="answer3"/>
								<input type="hidden" id="stuExcelAnswer4" name="answer4"/>
								<input type="hidden" id="stuExcelAnswer5" name="answer5"/>
								<input type="hidden" id="stuExcelAnswer6" name="answer6"/>
								<input type="hidden" id="stuExcelAnswer7" name="answer7"/>
								<input type="hidden" id="stuExcelAnswer8" name="answer8"/>
								<input type="hidden" id="stuExcelAnswer9" name="answer9"/>
								<input type="hidden" id="stuExcelAnswer10" name="answer10"/>
								<input type="hidden" id="stuExcelAnswer11" name="answer11"/>
								<input type="hidden" id="stuExcelAnswer12" name="answer12"/>
								<input type="hidden" id="stuExcelAnswer13" name="answer13"/>
								<input type="hidden" id="stuExcelAnswer14" name="answer14"/>
								<input type="hidden" id="stuExcelAnswer15" name="answer15"/>
								<input type="hidden" id="stuExcelAnswer16" name="answer16"/>
								<input type="hidden" id="stuExcelAnswer17" name="answer17"/>
								<input type="hidden" id="stuExcelAnswer18" name="answer18"/>
								<input type="hidden" id="stuExcelAnswer19" name="answer19"/>
								<input type="hidden" id="stuExcelAnswer20" name="answer20"/>
								<input type="submit" class="btn btn-success" value="导出Excel"/>
							</form>
							<button type="button" class="btn btn-primary" id="sssearch">
								Search/搜索
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th>User ID/用户ID</th>
							<th>Date/日期</th>
							<th>Name/姓名</th>
							<th>Gender/性别</th>
							<th>Age/年龄</th>
							<th>Phone/电话</th>
							<th>Email/邮箱</th>
							<th>College/大学</th>
							<th>Details/详情</th>
						</tr>
						</thead>
						<tbody id="ssbody">
						</tbody>
					</table>
				</div>
			</div>

			<div class="tab-pane fade in active qwer" id="Task">
				<div class="form-horizontal" role="form">
					<label class="col-sm-1 control-label" >Url/链接: </label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="urlinput" style="width: 90%"/>
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary" id="urladdbtn" onclick="addAdvertise()">
							Add/添加
						</button>
					</div>
				</div>
				<br/><br/><br/>
				<div class="col-sm-12">今天已提交数量：<span id="adcount"></span></div>
				<div class="col-sm-12">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th class="col-sm-2">User ID/用户ID</th>
							<th class="col-sm-6">Submitted Url/链接</th>
							<th class="col-sm-2">Create Time/创建时间</th>
							<th class="col-sm-2">Delete/删除</th>
						</tr>
						</thead>
						<tbody id="adbody">
						</tbody>
					</table>
				</div>
			</div>

			<div class="tab-pane fade in active qwer" id="History">
				<div class="form-horizontal" role="form">
					<shiro:hasPermission name="/user">
						<label class="col-sm-2 control-label">User ID/用户ID: </label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="hsuserid" style="width: 100%;"/>
						</div>
						<div class="clearfix"></div>
						<br/>
					</shiro:hasPermission>
					<label class="col-sm-2 control-label">Start Date/开始日期: </label>
					<div class="col-sm-2">
						<input placeholder="Date Time" class="laydate-icon timeUstyle stateUTime" id="hstartd" style="width: 100%;margin-top: 5px" onclick="laydate({istime: true,format:'YYYY-MM-DD hh:mm'})"/>
					</div>
					<label class="col-sm-2 control-label">End Date/结束日期: </label>
					<div class="col-sm-2">
						<input placeholder="Date Time" class="laydate-icon timeUstyle stateUTime" id="hendd" style="width: 100%;margin-top: 5px" onclick="laydate({istime: true,format:'YYYY-MM-DD hh:mm'})"/>
					</div>
					<div class="col-sm-4">
						<form action="/taskExcel" method="post" style="display:inline;margin-right:15px;">
							<input type="hidden" id="taskUserId" name="userId"/>
							<input type="hidden" id="taskStartDate" name="startDate"/>
							<input type="hidden" id="taskEndDate" name="endDate"/>
							<input type="submit" class="btn btn-success" value="导出Excel"/>
						</form>
						<button type="button" class="btn btn-primary" id="urlsearch" onclick="searchHistory()">
							Search/搜索
						</button>
					</div>
				</div>
				<br/><br/><br/>
				<div>搜索结果条数：<span id="searchNum">0</span></div>
				<div class="col-sm-12">
					<table class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th class="col-sm-2">User ID/用户ID</th>
							<th class="col-sm-6">Submitted Url/链接</th>
							<th class="col-sm-2">Create Time/创建时间</th>
							<th class="col-sm-2">Delete/删除</th>
						</tr>
						</thead>
						<tbody id="hisbody">
						</tbody>
					</table>
				</div>
			</div>

			<shiro:hasPermission name="/user">
				<div class="tab-pane fade in active" id="Table">
				</div>
			</shiro:hasPermission>
		</div> <!-- /.tab content -->
	</div>
	<!-- modal -->
	<div class="modal fade" id="NewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">
						New User/新建用户:
					</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">User ID/用户ID: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="loginId" name="loginId" style="width: 90%"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Password/密码: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="upassword" name="password" style="width: 90%"/>
							</div>
						</div>

						<!-- Add by Runner-->
						<div class="form-group">
							<label class="col-sm-2 control-label">Role/角色: </label>
							<div class="col-sm-10">
								<select class="form-control" id="selRole" style="width: 90%">
									<option value="user">user</option>
									<option value="admin">admin</option>
								</select>
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="submitu" onclick="adduser()" data-dismiss="modal">
						Submit
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div> <!-- /.modal -->

	<div class="modal fade" id="EditUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">
						Edit User/修改用户:
					</h3>
				</div>
				<div class="modal-body">
					<form id="euform" class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">User ID/用户ID: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="loginId" id="euid" style="width: 90%" disabled="disabled"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Password/密码: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="password" id="eupassword" style="width: 90%" placeholder="Fill me to reset password"/>
							</div>
						</div>

						<!-- Add by Runner-->
						<div class="form-group">
							<label class="col-sm-2 control-label">Role/角色: </label>
							<div class="col-sm-10">
								<select class="form-control" name="role" id="eRole" style="width: 90%">
									<option value="user">user</option>
									<option value="admin">admin</option>
								</select>
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="submiteu" data-dismiss="modal">
						Submit
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div> <!-- /.modal -->

	<div class="modal fade" id="NewStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">
						New Student/新建学生:
					</h3>
				</div>
				<div class="modal-body">
					<form id="newStudentForm" class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">Name/姓名: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="name" id="nsname" style="width: 90%"/>
							</div>

							<label class="col-sm-2 control-label">Gender/性别: </label>
							<div class="col-sm-4">
								<select class="form-control" name="gender" id="nsgender" style="width: 90%;">
									<option value="M">M</option>
									<option value="F">F</option>
								</select>
							</div>
						</div>

						<div class="form-group">

							<label class="col-sm-2 control-label">Age/年龄: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="age" id="nsage" style="width: 90%"/>
							</div>

							<label class="col-sm-2 control-label">Phone/电话: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="phone" id="nsphonenum" style="width: 90%"/>
							</div>
						</div>

						<div class="form-group">

							<label class="col-sm-2 control-label">Email/邮箱: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="email" id="nsemail" style="width: 90%"/>
							</div>

							<label class="col-sm-2 control-label">College/大学: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="college" id="nscollegename" style="width: 90%"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Major/专业: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" name="major" id="nsmajor" style="width: 90%"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="newStudentBtn" data-dismiss="modal">
						Submit
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div> <!-- /.modal -->

	<div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="myModalLabel">Detailed Information/学生详情: </h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form" id="inin" onsubmit="return false" >
						<div class="form-group">
							<label class="col-sm-2 control-label">Date/日期: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtdate" style="width: 90%" disabled="disabled" />
							</div>

							<label class="col-sm-2 control-label">Name/姓名: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtname" style="width: 90%"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Gender/性别: </label>
							<div class="col-sm-4">
								<select class="form-control" id="dtgender" style="width: 90%">
									<option>M</option>
									<option>F</option>
								</select>
								<!--<input type="text" class="form-control" id="dtgender" style="width: 90%"/>-->
							</div>
							<label class="col-sm-2 control-label">Age/年龄: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtage" style="width: 90%"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Phone/电话: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtphonenum" style="width: 90%"/>
							</div>
							<label class="col-sm-2 control-label">Email/邮箱: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtemail" style="width: 90%"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">College/大学: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtcollegename" style="width: 90%"/>
							</div>
							<label class="col-sm-2 control-label">Major/专业: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtmajor" style="width: 90%"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">QQWechat/QQ微信: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtqqwechat" style="width: 90%"/>
							</div>
						</div>
						<hr/>
						<div class="form-group">
							<label class="col-sm-2 control-label">Walk-inDate/上门日期: </label>
							<div class="col-sm-4">
								<!--<input type="text" class="form-control" id="dtwalkindate" style="width: 90%"/>-->
								<!--Add by Runner-->
								<input placeholder="Date Time" class="laydate-icon timeUstyle stateUTime" id="dtwalkindate"  style="width: 90%" onclick="laydate({istime: true,format:'YYYY-MM-DD hh:mm'})"/>
							</div>
							<label class="col-sm-2 control-label">Marks/笔试成绩: </label>
							<div class="col-sm-4">
								<input type="number" class="form-control" id="dtmarks" style="width: 90%"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">InterviewNote/面试记录: </label>
							<div class="col-sm-10">
								<textarea class="form-control" id="dtinsit" style="width: 96%;resize: none;" rows="4"></textarea>
							</div>
						</div>

						<div class="form-group" >
							<label class="col-sm-2 control-label">StuSource/学生来源: </label>
							<div class="col-sm-2" style="padding-left: 3%;">
								<select id="SSselect" class="form-control" style="width: 100%;display: inline-block;">
								</select>
							</div>
							<label class="col-sm-1 control-label" style="font-size: 10px;">自定义: </label>
							<div class="col-sm-4">
								<input id="stusource" class="form-control" type="text" placeholder="如:学校招聘会"/>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Intention/学习意愿: </label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="dtintention" style="width: 90%"/>
							</div>
							<label class="col-sm-2 control-label">Classification/参与可能性: </label>
							<div class="col-sm-4">
								<select id="dtclassification" class="form-control" style="width: 85%" disabled="disabled">
									<option></option>
									<option value="A">A: Yes/已入学</option>
									<option value="B">B: Interested/有兴趣</option>
									<option value="C">C: Hesitate/犹豫</option>
									<option value="D">D: Rejected/拒绝</option>
								</select>
							</div>
						</div>
						<hr/>
						<button id="stable1" class="btn btn-xs btn-info">ShowTable/展开反馈表</button>
						<div id="fankuiTable" style="display: none;">
							<label class="col-sm-12 control-label" style="text-align: center; font-size: large">宣讲反馈表</label>
							<div id="fankuibody"></div>
							<hr/>
						</div>
						<hr/>
						<div id="followuplist">

						</div>
						<hr/>
						<div class="form-group">
							<label class="col-sm-2 control-label">Follow Up/跟进:</label>
							<div class="col-sm-4" style="text-align: left;padding-left: 4%;">
								<select id="newcla" class="form-control" style="width: 85%;">
									<option value="A">A: Yes/已入学</option>
									<option value="B">B: Interested/有兴趣</option>
									<option value="C">C: Hesitate/犹豫</option>
									<option value="D">D: Rejected/拒绝</option>
							</select></div>
							<br/><br/>
							<div class="col-sm-2" align="center">
							</div>
							<div class="col-sm-10">
								<textarea id="dtfp1" class="form-control" style="width: 96%;resize: none;" rows="4"></textarea>
							</div>
						</div>
					</form>
				</div>
				<input type="hidden" id="edstuId" />
				<div class="modal-footer">
					<button id="submitdt" type="button" class="btn btn-primary" data-dismiss="modal">
						Submit
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div> <!-- /.modal -->

	<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title">
						New Question/新的问题:
					</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label">Type/类型: </label>
							<div class="col-sm-10">
								<select class="form-control" id="addQueType" style="width: 90%">
									<option value="radio">radio</option>
									<option value="checkbox">checkbox</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Details/问题描述: </label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="addQueDetails" style="width: 90%"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="addQueBtn" data-dismiss="modal">
						Submit
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>
	<!-- /modal -->
</div> <!-- /.container -->
<script src="/js/manage.js"></script>
</body>
</html>