<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.cmsdemo.dao.AdvertiseDao">
    <resultMap id="BaseResultMap" type="com.niit.cmsdemo.domain.Advertise">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="url" property="url"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertOne" parameterType="com.niit.cmsdemo.domain.Advertise">
        INSERT INTO `advertise`
        VALUES(#{id},#{userId},#{url},now(),now())
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Long">
        DELETE FROM `advertise`
        WHERE `id`=#{id}
    </delete>

    <select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT * FROM `advertise`
        WHERE `id`=#{id}
    </select>

    <select id="selectConditions" resultMap="BaseResultMap">
        SELECT * FROM `advertise`
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="userId != null and userId.length()>0">
                AND `user_id`=#{userId}
            </if>
            <if test="url != null and url.length()>0">
                AND `url` LIKE CONCAT('%',#{url},'%')
            </if>
            <if test="startDate !=null and endDate != null">
                AND `create_time` BETWEEN #{startDate} AND #{endDate}
            </if>
        </trim>
    </select>

</mapper>