<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.cmsdemo.dao.FollowUpDao">
    <resultMap id="BaseResultMap" type="com.niit.cmsdemo.domain.FollowUp">
        <id column="id" property="id"/>
        <result column="stu_id" property="stuId"/>
        <result column="note" property="note"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertOne" parameterType="com.niit.cmsdemo.domain.FollowUp">
        INSERT INTO `follow_up` VALUES(#{id},#{stuId},#{note},now(),now())
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Long">
        DELETE FROM `follow_up` WHERE id = #{id}
    </delete>

    <update id="updateOne" parameterType="com.niit.cmsdemo.domain.FollowUp">
        UPDATE `follow_up`
        <set>
            <if test="stuId != null">`stu_id`=#{stuId},</if>
            <if test="note != null and note.length()>0">`note`=#{note},</if>
            `update_time`=now()
        </set>
        WHERE `id`=#{id}
    </update>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT * FROM `follow_up` WHERE `id`=#{id}
    </select>

    <select id="selectConditions" resultMap="BaseResultMap">
        SELECT * FROM `follow_up`
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="stuId != null">
                AND `stu_id`=#{stuId}
            </if>
            <if test="note != null and note.length()>0">
                AND `note` LIKE CONCAT('%',#{note},'%')
            </if>
            <if test="startDate !=null and endDate != null">
                AND `create_time` BETWEEN #{startDate} AND #{endDate}
            </if>
        </trim>
    </select>

</mapper>