<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.cmsdemo.dao.PermissionDao">
    <resultMap id="BaseResultMap" type="com.niit.cmsdemo.domain.Permission">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parent_id"/>
        <result column="create_name" property="create_name"/>
        <result column="update_name" property="update_name"/>
    </resultMap>
</mapper>