<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.cmsdemo.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.niit.cmsdemo.domain.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <select id="selectConditions" resultMap="BaseResultMap">
        SELECT * FROM role WHERE 1 = 1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="date != null">
            and DATE_FORMAT(create_time,'%Y-%m-%d') = #{date}
        </if>
    </select>
    <insert id="insertOne" parameterType="com.niit.cmsdemo.domain.Role">
        INSERT INTO role VALUES (#{id},#{name},now(),now())
    </insert>
    <delete id="deleteOne" parameterType="java.lang.Long">
        DELETE FROM role WHERE id = #{id}
    </delete>
    <update id="updateOne" parameterType="com.niit.cmsdemo.domain.Role">
        UPDATE role SET name = #{name},create_time = now(),update_time = now()
        WHERE id = #{id}
    </update>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM role
    </select>

</mapper>