<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.cmsdemo.dao.RoleDao">
    <resultMap id="BaseResultMap" type="com.niit.cmsdemo.domain.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <insert id="insertOne" parameterType="com.niit.cmsdemo.domain.Role">
        INSERT INTO `role` VALUES (#{id},#{name})
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Integer">
        DELETE FROM `role` WHERE id = #{id}
    </delete>

    <update id="updateOne" parameterType="com.niit.cmsdemo.domain.Role">
        UPDATE `role`
        <set>
            <if test="name != null and name.length()>0">`name`=#{name},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM `role` WHERE `id`=#{id}
    </select>

    <select id="selectConditions" resultMap="BaseResultMap">
        SELECT * FROM `role`
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="name != null and name.length()>0">
                AND `name`=#{name}
            </if>
        </trim>
    </select>

</mapper>