<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.cmsdemo.dao.StudentDao">
    <resultMap id="BaseResultMap" type="com.niit.cmsdemo.domain.Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
        <result column="qq_wechat" property="qqWechat"/>
        <result column="email" property="email"/>
        <result column="college" property="college"/>
        <result column="major" property="major"/>
        <result column="walkin_date" property="walkinDate"/>
        <result column="interview_note" property="interviewNote"/>
        <result column="marks" property="marks"/>
        <result column="intention" property="intention"/>
        <result column="student_source" property="studentSource"/>
        <result column="classification" property="classification"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertOne" parameterType="com.niit.cmsdemo.domain.Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `student`
        VALUES (#{id},#{name},#{gender},#{age},
        #{phone},#{qqWechat},#{email},#{college}
        ,#{major},#{walkinDate},#{interviewNote},#{marks}
        ,#{intention},#{studentSource},#{classification}
        ,now(),now())
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Long">
        DELETE FROM `student` WHERE `id` = #{id}
    </delete>

    <update id="updateOne" parameterType="com.niit.cmsdemo.domain.Student">
        UPDATE `student`
        <set>
            <if test="name != null and name.length()>0">`name`=#{name},</if>
            <if test="gender != null">`gender`=#{gender},</if>
            <if test="age != null">`age`=#{age},</if>
            <if test="phone != null and phone.length()>0">`phone`=#{phone},</if>
            <if test="qqWechat != null and qqWechat.length()>0">`qq_wechat`=#{qqWechat},</if>
            <if test="email != null and email.length()>0">`email`=#{email},</if>
            <if test="college != null and college.length()>0">`college`=#{college},</if>
            <if test="major != null and major.length()>0">`major`=#{major},</if>
            <if test="walkinDate != null">`walkin_date`=#{walkinDate},</if>
            <if test="interviewNote != null and interviewNote.length()>0">`interview_note`=#{interviewNote},</if>
            <if test="marks != null">`marks`=#{marks},</if>
            <if test="intention != null and intention.length()>0">`intention`=#{intention},</if>
            <if test="studentSource != null and studentSource.length()>0">`student_source`=#{studentSource},</if>
            <if test="classification != null and classification.length()>0">`classification`=#{classification},</if>
            `update_time`=now()
        </set>
        WHERE `id`=#{id}
    </update>

    <select id="selectOne" resultMap="BaseResultMap">
        SELECT * FROM `student` WHERE `id`=#{id}
    </select>

    <select id="selectConditions" resultMap="BaseResultMap">
        SELECT * FROM `student`
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="ids != null">
                AND `id` IN
                <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="name != null and name.length()>0">
                AND `name` LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="gender != null">
                AND `gender`=#{gender}
            </if>
            <if test="age != null">
                AND `age`=#{age}
            </if>
            <if test="phone != null and phone.length()>0">
                AND `phone` LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="qqWechat != null and qqWechat.length()>0">
                AND `qq_wechat` LIKE CONCAT('%',#{qqWechat},'%')
            </if>
            <if test="email != null and email.length()>0">
                AND `email` LIKE CONCAT('%',#{email},'%')
            </if>
            <if test="college != null and college.length()>0">
                AND `college` LIKE CONCAT('%',#{college},'%')
            </if>
            <if test="major != null and major.length()>0">
                AND `major` LIKE CONCAT('%',#{major},'%')
            </if>
            <if test="walkinDate != null">
                AND DATE_FORMAT(`walkin_date`,'%Y-%m-%d')=#{walkinDate}
            </if>
            <if test="marks != null">
                AND `marks`=#{marks}
            </if>
            <if test="studentSource != null and studentSource.length()>0">
                AND `student_source`=#{studentSource}
            </if>
            <if test="classification != null and classification.length()>0">
                AND `classification`=#{classification}
            </if>
            <if test="startDate !=null and endDate != null">
                AND `create_time` BETWEEN #{startDate} AND #{endDate}
            </if>
        </trim>
    </select>

</mapper>