<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.cmsdemo.dao.StuSourceDao">
    <resultMap id="BaseResultMap" type="com.niit.cmsdemo.domain.StuSource">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertOne" parameterType="com.niit.cmsdemo.domain.StuSource">
        INSERT INTO `stu_source` VALUES (#{id},#{name},#{type},#{parentId},now(),now());
    </insert>

    <delete id="deleteOne" parameterType="java.lang.Integer">
        DELETE FROM `stu_source` WHERE id = #{id}
    </delete>

    <update id="updateOne" parameterType="com.niit.cmsdemo.domain.StuSource">
        UPDATE `stu_source`
        <set>
            <if test="name != null and name.length()>0">`name`=#{name},</if>
            <if test="type != null">`type`=#{type},</if>
            <if test="parentId != null">`parent_id`=#{parentId},</if>
            `update_time`=now()
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectOne" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM `stu_source` WHERE `id`=#{id}
    </select>

    <select id="selectConditions" resultMap="BaseResultMap">
        SELECT * FROM `stu_source`
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="name != null and name.length()>0">
                AND `name` LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="type != null">
                AND `type`=#{type}
            </if>
            <if test="parentId != null">
                AND `parent_id`=#{parentId}
            </if>
            <if test="startDate !=null and endDate != null">
                AND `create_time` BETWEEN #{startDate} AND #{endDate}
            </if>
        </trim>
    </select>

</mapper>