<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niit.cmsdemo.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.niit.cmsdemo.domain.User">
        <id column="login_id" property="loginId" jdbcType="VARCHAR"/>
        <result column="role" property="role"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <insert id="insertOne" parameterType="com.niit.cmsdemo.domain.User">
        INSERT INTO `user` VALUES(#{loginId},#{role},#{password},now(),now())
    </insert>

    <delete id="deleteOne" parameterType="java.lang.String">
        DELETE FROM `user` WHERE `login_id` = #{loginId}
    </delete>

    <update id="updateOne" parameterType="com.niit.cmsdemo.domain.User">
        UPDATE `user`
        <set>
            <if test="role != null and role.length()>0">`role`=#{role},</if>
            <if test="password != null and password.length()>0">`password`=#{password},</if>
        </set>
        WHERE `login_id` = #{loginId}
    </update>

    <select id="selectOne"  resultMap="BaseResultMap">
        SELECT * FROM `user` WHERE `login_id`=#{loginId}
    </select>

    <select id="selectConditions" resultMap="BaseResultMap">
        SELECT * FROM `user`
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="loginId != null and loginId.length()>0">
                AND `login_id` LIKE CONCAT('%',#{loginId},'%')
            </if>
            <if test="password != null and password.length()>0">
                AND `password` LIKE CONCAT('%',#{password},'%')
            </if>
            <if test="startDate !=null and endDate != null">
                AND `create_time` BETWEEN #{startDate} AND #{endDate}
            </if>
        </trim>
    </select>

</mapper>